*.o
*.lo
*.la
*.a
*.so
*.info
stamp*
.libs
.deps
Makefile
Makefile.in
autom4te.cache
aclocal.m4
apps/extent/extent
apps/fextent/fextent
apps/gsiril/gsiril
apps/gsiril/gsiril.1
apps/gsiril/init.dat
apps/methsearch/methsearch
apps/musgrep/musgrep
apps/printmethod/printmethod
apps/psline/psline
apps/ringmethod/ringmethod
apps/rowcalc/rowcalc
apps/spliceplan/spliceplan
apps/splices/splices
apps/touchsearch/touchsearch
config.log
config.status
configure
doc/version.texi
examples/testbase
examples/testlibrary
examples/testmusic
examples/testprint
examples/testproof
examples/testsearch
examples/testtouch
libtool
ringing/common-am.h

